<h2>Enter Your Words Below:</h2>

<div>
  Random Holiday:<br>
  <input type="text" [(ngModel)]="holiday"/>
  <br><br>
  Any Place:<br>
  <input type="text" [(ngModel)]="place"/>
  <br><br>
  Any Animal:<br>
  <input type="text" [(ngModel)]="animal"/>
  <br><br>
  A Plural Noun:<br>
  <input type="text" [(ngModel)]="noun"/>
  <br><br>
  Any Celebrity:<br>
  <input type="text" [(ngModel)]="celebrity"/>
  <br><br>
  <button class="btn btn-danger" (click)="save()">Save</button>
  <button (click)="reset()">Reset</button>
</div> 

<div class="paragraph">
  <h1 class="header">See Your Madlib Below:</h1>
  <p>You're Invited to Our Weekly {{holiday}} Party!</p>
  <p> Your presence is requested at {{place}} at noon.</p>
  <p>Please come prepared with your favorite stuffed {{animal}}.</p>
  <p>We will be creating {{noun}} for your {{animal}} to wear. How exciting!</p>
  <p>Please be on time, not like that one person at the last party, looking at you {{celebrity}}!</p>

</div>
